@import url(./style/navbar.css);
@import url(./style/timer.css);
@import url(./style/future.css);
@import url(/style/features.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: auto;
    height: auto;

}
.container {
    max-width: 1200px;
    margin: auto;
}