@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url(./style/navbar.css);
@import url(./style/timer.css);
@import url(./style/future.css);
@import url(/style/features.css);
@import url(./style/orange.css);
@import url(./style/technology.css);
@import url(./style/speed.css);
@import url(./style/dark.css);
@import url(./style/price.css);
@import url(./style/testimonials.css);
@import url(./style/download.css);
@import url(./style/faq.css);
@import url(./style/footer.css);
@import url(./style/modal.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    width: 100%;
    margin: auto;
    height: auto;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    margin: auto;
}


.text-blue {
    color: #0278ED;
}

.blue {
    background: #0278ED;
}

.text-orange {
    color: #FF5437;
}

.orange {
    background: #FF5437;
}

.text-limon {
    color: #FF9209;
}

.limon {
    background: #FF9209;
}

.text-violet {
    color: #B25DF8;
}

.violet {
    background: #B25DF8;
}

.text-sky {
    color: #00C6DF;
}

.sky {
    background: #00C6DF;
}

.text-pink {
    color: #E738CE;
}

.pink {
    background: #E738CE;
}

.btn-blue {
    color: #0278ED;
}

.btn-orange {
    border: 1px solid #FF5437;
}

.btn-limon {

    border: 1px solid #FF9209;
}

button {
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}
