.features {
    height: auto;
    background-color: black;
    color: white;
}

.block__features {
    padding: 100px 0;
}

.features__header {
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.features__header_title {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.features__header_description {
    text-align: center;
    width: 495px;
    font-size: 32px;
    line-height: 36px;
}

.features__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.features__card {
    height: 490px;
    width: 379px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 16px;
    margin-bottom: 16px;
}

.features__card:nth-child(3n + 3) {
    margin-right: 0;
}

.features__card_img {
    width: 227px;
    height: 450px;
    position: absolute;
    bottom: 0;
}

.features__card_text {
    position: absolute;
    bottom: 0;
    height: 197px;
    width: 379px;
    background: #F2F2F2;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 20px 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.features__block_icon {
    height: 64px;
    width: 64px;
    background: #0278ED;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 167px;
}

.features__card_title {
    margin-top: 48px;
    font-size: 24px;
    line-height: 30px;
    color: #0278ED;
    text-align: center;
}

.features__card_description {
    width: 286px;
    margin: auto;
    text-align: center;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #222222;
    margin-top: 11px;
}


@media (max-width: 1169px) {
    .features__card:nth-child(even) {
        margin-right: 0;
    }

    .features__card:nth-child(3) {
        margin-right: 15px;
    }
}

@media (max-width: 757px) {
    .features {
        padding: 0 10px;
    }

    .features__card {
        margin-right: 0px;
    }

    .features__card:nth-child(3) {
        margin-right: 0;
    }

    .features__header_description {
        text-align: center;
        max-width: 100%;
        font-size: 25px;
        line-height: 36px;
    }

    .features__card_text {
        width: 100%;
    }

    .features__card_description {
        width: 100%;
    }
}