.features {
    height: auto;
    background-color: black;
    color: white;
}

.features__block {
    padding: 100px 0;
}

.features__header {
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.features__header_title {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.features__header_descr {
    text-align: center;
    width: 495px;
    font-size: 32px;
    line-height: 36px;
}

.features__cards {
    display: flex;
    flex-wrap: wrap;

}

.features__card {
    height: 490px;
    width: 379px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 16px;
    margin-bottom: 16px;
}

.features__card:nth-child(3n + 3) {
    margin-right: 0px;
}

.features__card_img {
    width: 227px;
    height: 450px;
    position: absolute;
    bottom: 0;
}

.features__card_text {
    position: absolute;
    bottom: 0;
    height: 197px;
    width: 379px;
    background: #F2F2F2;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 20px 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.features__block_icon {
    height: 64px;
    width: 64px;
    background: #0278ED;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 167px;
}

.features__card_title {
    margin-top: 48px;
    font-size: 24px;
    line-height: 30px;
    color: #0278ED;
    text-align: center;
}

.features__card_descr {
    width: 286px;
    margin: auto;
    text-align: center;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #222222;
    margin-top: 11px;
}
.blue {
    background: #0278ED;
    color:#0278ED; 
}
.orange {
    background: #FF5437;
    color: #FF5437;
}
.limon {
    background: #FF9209;
color : #FF9209;
}
.violet {
    background: #B25DF8; color : #B25DF8;
}
.sky {
    background: #00C6DF; color : #00C6DF;
}
.pink {
    background: #E738CE; color : #E738CE;
}