.block__future {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 89px 100px 0 78px;
    color: #222222;
}

.future__text {
    height: 354px;
    width: 420px;
}

.future__img {
    height: 548px;
    max-width: 376px;
}

.future__text_img {
    height: 64px;
    width: 192px;
}

.future__text_title {
    font-size: 54px;
    line-height: 60px;
    margin-bottom: 17px;
    margin-top: 11px;
}

.future__text_description {
    font-size: 16px;
    line-height: 24px;
}

.future__text_btn {
    display: flex;
    margin: 20px 0 0 5px;
}

.future__btn {
    height: 40px;
    width: 148px;
    background: #222222;
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 10px;
}

@media (max-width: 974px) {
    .block__future {
        padding: 89px 30px 0 30px;
    }
}

@media (max-width: 856px) {
    .block__future {
        padding: 89px 10px 0 10px;
        justify-content: center;
    }

    .future__text {
        height: auto;
        width: 420px;
        margin-bottom: 20px;
    }

    .future__text_title {
        font-size: 44px;
    }

    .future__img {
        height: 548px;
        width: 420px;
    }
}

@media (max-width: 350px) {
    .future__img {
        height: auto;
        width: 100%;
    }

    .future__text {
        height: auto;
        width: 100%;
        margin-bottom: 20px;
    }

    .future__btn {
        font-size: 10px;
        line-height: 10px;
        width: 100%;
        margin-bottom: 10px;
    }

    .future__text_title {
        text-align: center;
        font-size: 30px;
        line-height: 40px;
    }

    .future__text_img {
        height: 44px;
        width: 100%;
    }

    .future__text_btn {
        display: block;
        margin: 20px 0 0 0px;
    }
}