.speed {
    background-color: #F2F2F2;
}

.block__speed {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 97px 100px 0 78px;
    color: #222222;
}

.speed__text {
    height: 354px;
    width: 420px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.speed__img {
    height: 548px;
    width: 376px;
}

.speed__text_img {
    height: 64px;
    width: 192px;
}

.speed__text_head {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
    margin-bottom: 5px;
}

.speed__text_title {
    font-size: 32px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 15px;
}

.speed__text_description {
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}
@media (max-width: 974px) {
    .block__speed {
    flex-direction: column-reverse;
    justify-content: center;
    }
}
@media (max-width: 591px) {
    .block__speed {
        flex-direction: column-reverse;
        justify-content: center;
        padding: 97px 10px 0 10px;
    }
}
@media (max-width: 435px) {
    .block__speed {
        flex-direction: column-reverse;
        justify-content: center;
        padding: 97px 10px 0 10px;
    }
    .speed__img {
        height: auto;
        width: 100%;
    }
    .speed__text {
        height: auto;
        width: 100%;
        margin-bottom: 20px;
    }
}