.timer {
    background-image: url(../img/timer_fon.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 436px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    margin-top: 90px;
}
.timer__text_tilte {
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.timer__text_descr {
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 1.5px;
}

.timer__text_data {
    font-weight: 400;
    font-size: 100px;
    line-height: 150px;
    display: flex;
    align-items: center;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.timer__dates {
    display: flex;
    justify-content: space-between;
}

.timer__dates_descr {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 1.5px;

}