.block__dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 160px;
    width: 600px;
}

.dark__head-text {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.dark__head-title {
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 16px;
}

.dark__head-span {
    color: #FF9209;
}

.dark__head-description {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.dark__main {
    width: 600px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #E5E5E5;
    margin: 36px 0 44px;
}

.dark__main-img {
    height: 486px;
    width: 400px;
}

.dark__footer {
    display: flex;
}

.dark__footer-button {
    height: 49px;
    color: white;
    width: 128px;
    border: none;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#white__moon {
    fill: #FF9209;
    margin-bottom: 6px;
}

#white__sun {
    fill: white;
    margin-bottom: 6px;
}

.light__footer-text {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
}

.dark__footer-text {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FF9209;
}

#dark {
    background-color: #222222;
    color: rgb(255, 255, 255);
}

@media (max-width: 624px) {
    .block__dark {
        width: 100%;
        padding: 100px 10px 160px;
    }

    .dark__main {
        width: 100%;
    }
}

@media (max-width: 424px) {
    .dark__main-img {
        height: auto;
        width: 100%;
        padding: 0 10px;
    }
}