#orangess {
    background: #FF5437;
    padding: 80px 0 80px;
}

.block__oranges {
    padding: 0 110px 0 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.oranges__text {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: white;
}

.oranges__text-title {
    font-size: 96px;
    line-height: 96px;
    text-align: center;
    margin-bottom: 20px;
}

.oranges__text-description {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@media (max-width: 830px) {
    .orangess {
        padding: 50px;
    }

    .oranges__text-title {
        font-size: 70px;
        text-align: left;
    }
    .block__oranges {
        padding: 0 130px;
        justify-content: left;
    }
}

@media (max-width: 430px) {
    .orangess {
        padding: 10px;
    }

    .block__oranges {
        padding: 0 100px;
    }

    .oranges__text-title {
        font-size: 50px;
        text-align: left;
        margin-bottom: 10px;
        line-height: 56px;

    }

    .oranges__text-description {
        font-size: 14px;
        line-height: 20px;
        text-align: left;
    }
}