#testimonials {
    background: #F2F2F2;
    padding: 100px 0;
}

.block__testimonials {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonials__head {
    max-width: 600px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin-bottom: 41px;
}

.testimonials__head-text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
}

.testimonials__head-title {
    font-size: 32px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 14px;
}

.testimonials__head-description {
    font-size: 18px;
    line-height: 24px;
    color: #666666;
}

.testimonials__users {
    display: flex;
    flex-wrap: wrap;
}

.users__card {
    height: 224px;
    width: 379px;
    background: #FFFFFF;
    border-radius: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    padding: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 16px;
    margin-top: 15px;
}


.users__card-title {
    font-size: 16px;
    line-height: 24px;
    color: #222222;

}

.users__card-name {
    font-size: 16px;
    line-height: 20px;
    color: #1B1A1A;
    margin-bottom: 2px;
}

.users__card-profession {
    font-size: 14px;
    line-height: 20px;
    color: #1B1A1A;
}

@media (max-width: 786px) {
    .testimonials__users {
        justify-content: center;
    }

    .testimonials {
        padding: 100px 10px;
    }
}

@media (max-width: 350px) {
    .users__card {
        width: 100%;
        height: auto;
        padding: 10px;
        margin: 10px;
    }

    .users__card-title {
        margin-bottom: 10px;
    }
}